In [4]:
import pandas as pd
import numpy as np

In [18]:
results = pd.read_parquet('results.parquet')

In [19]:
results

,year,type,discipline,event,as,athlete_id,noc,team,place,tied,medal
0,1912.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,None,17.0,True,None
1,1912.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jean Montariol,NaN,False,None
2,1920.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,None,32.0,True,None
3,1920.0,Summer,Tennis,"Doubles, Mixed (Olympic)",Jean-François Blanchy,1,FRA,Jeanne Vaussard,8.0,True,None
4,1920.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jacques Brugnon,4.0,False,None
...,...,...,...,...,...,...,...,...,...,...,...
308403,2022.0,Winter,Luge,"Singles, Men (Olympic)",Marián Skupek,148983,SVK,None,26.0,False,None
308404,2022.0,Winter,Alpine Skiing (Skiing),"Slalom, Women (Olympic)",Elsa Fermbäck,148984,SWE,None,28.0,False,None
308405,2022.0,Winter,Alpine Skiing (Skiing),"Team, Mixed (Olympic)",Hilma Lövblom,148985,SWE,Sweden,13.0,False,None
308406,2022.0,Winter,Alpine Skiing (Skiing),"Giant Slalom, Women (Olympic)",Hilma Lövblom,148985,SWE,None,NaN,False,None
308407,2022.0,Winter,None,"Slalom, Women (Olympic)",Charlotta Säfvenberg,148986,None,None,24.0,False,None

In [35]:
groups = results.groupby('discipline')

In [41]:
df = pd.DataFrame({
    'Name': ['Basit', 'Ali', 'Sara'],
    'Score': [88, 92, 79]
})

# Save to CSV file
df.to_csv('students.csv', index=False)

In [42]:
std = pd.read_csv('students.csv')

In [46]:
std.at[0, "Name"] #to fetch specific value we can pass index and values as well
std.iat[0, 0] #to fetch specific value based on index

'Basit'

In [54]:
# std.sort_values('Score', ascending=False) # single 
std.sort_values(['Score', 'Name'], ascending=[0,1]) #multiple

    Name  Score
1    Ali     92
0  Basit     88
2   Sara     79