In [2]:
import pandas as pd
import numpy as np

In [20]:
subs = pd.read_csv('subs.csv')
subs_ser = subs.squeeze()

In [25]:
movies = pd.read_csv('bollywood.csv',index_col='movie')
movies_ser = movies.squeeze()
movies_ser

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

In [39]:
kohli = pd.read_csv('kohli_ipl.csv',index_col="match_no")

In [40]:
vk = kohli.squeeze()
type(vk)

pandas.core.series.Series

In [41]:
# astype => change type of data
import sys
sys.getsizeof(vk)

3472

In [42]:
sys.getsizeof(vk.astype('int16')) #size decrease from 3604 to 1024 because of int16

2182

In [45]:
# between
vk.between(51,99) # true false
vk[vk.between(51,99)].size

43

In [46]:
#clip
vk.clip(100,200)

match_no
1      100
2      100
3      100
4      100
5      100
      ...
211    100
212    100
213    100
214    100
215    100
Name: runs, Length: 215, dtype: int64

In [49]:
#drop_duplicates() # it drop all duplicates values  by default it delete first ocuurence we cahnge it to last occurance
temp = pd.Series([1,1,1,2,3,5,6,7,7,9,0,0])
temp.drop_duplicates()

0     1
3     2
4     3
5     5
6     6
7     7
9     9
10    0
dtype: int64

In [50]:
temp.drop_duplicates(keep="last") #it will keep last and remove first occurance

2     1
3     2
4     3
5     5
6     6
8     7
9     9
11    0
dtype: int64

In [52]:
movies_ser.drop_duplicates() #it will show only one movie fo each actors

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Sssshhh...                              Tanishaa Mukerji
Rules: Pyaar Ka Superhit Formula                  Tanuja
Right Here Right Now (film)                        Ankit
Talaash: The Hunt Begins...                Rakhee Gulzar
The Pink Mirror                          Edwin Fernandes
Name: lead, Length: 566, dtype: object

In [55]:
temp.duplicated().sum() #to determine that how many duplicates are in this case there is 4 duplicates

np.int64(4)

In [59]:
#if deal with missing values
temp = pd.Series([1,2,np.nan,4, np.nan,np.nan, 7, 8, np.nan, 10])
temp

0     1.0
1     2.0
2     NaN
3     4.0
4     NaN
5     NaN
6     7.0
7     8.0
8     NaN
9    10.0
dtype: float64

In [61]:
temp.size #count missing values also (10) which is total
temp.count() #missing values not included  (6)

np.int64(6)

In [64]:
#isnull -> to count missing values
temp.isnull().sum() # 4 null values

np.int64(4)

In [66]:
#dropna -> it will remove all missing values
temp.dropna()

0     1.0
1     2.0
3     4.0
6     7.0
7     8.0
9    10.0
dtype: float64

In [69]:

#fillna -> it will not replace. here we can replace with values
temp.fillna(0) #it will fill all missing values with zeros
temp.fillna(temp.mean()) #it will fill with mean

0     1.000000
1     2.000000
2     5.333333
3     4.000000
4     5.333333
5     5.333333
6     7.000000
7     8.000000
8     5.333333
9    10.000000
dtype: float64

In [73]:
#isin -> through it we can check multiple multiple things
vk[(vk == 49) | (vk == 100)] #painful if need to check multiple conditions

match_no
86      49
120    100
164    100
Name: runs, dtype: int64

In [77]:
vk[vk.isin([49,50,100])] #easliy done through isin

match_no
15      50
86      49
120    100
164    100
182     50
Name: runs, dtype: int64

In [85]:
#apply ->we can apply custom logics
#if i need first name of actors only and must be in uppercase
movies_ser.apply(lambda x: x.split()[0].upper())

movie
Uri: The Surgical Strike                  VICKY
Battalion 609                             VICKY
The Accidental Prime Minister (film)     ANUPAM
Why Cheat India                          EMRAAN
Evening Shadows                            MONA
                                         ...
Hum Tumhare Hain Sanam                     SHAH
Aankhen (2002 film)                     AMITABH
Saathiya (film)                           VIVEK
Company (film)                             AJAY
Awara Paagal Deewana                     AKSHAY
Name: lead, Length: 1500, dtype: object

In [92]:
#let's suppose in subs series i want to know that if i have got more subscriber than average so 
 #that will be good day other wise it will be bad day
subs_ser.mean() #average is 135

subs_ser.apply(lambda x: 'Good day ' if x > subs_ser.mean() else 'Bad day')

0        Bad day
1        Bad day
2        Bad day
3        Bad day
4        Bad day
         ...
360    Good day
361    Good day
362    Good day
363    Good day
364    Good day
Name: Subscribers gained, Length: 365, dtype: object

In [94]:
#copy and view -> view does changes in original array i.e
vk.head() #it give view change in this will change in original series
vk[1] = 1 #change original series because it is view to avoid these kind of situations we have to make copy first

In [96]:
new = vk.head().copy()

In [97]:
new[1] =100 #changes occur only in new which is copy of original

In [98]:
new

match_no
1    100
2     23
3     13
4     12
5      1
Name: runs, dtype: int64